@font-face {
    font-family: DancingS;
    src: url(/fonts/DancingScript-Regular.ttf);
}
@font-face {
    font-family: GreatV;
    src: url(/fonts/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: Lato;
    src: url(/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Lobster;
    src: url(/fonts/Lobster-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: NanoSans;
    src: url(/fonts/NotoSans_ExtraCondensed-Regular.ttf);
}
@font-face {
    font-family: Pacifico;
    src: url(/fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(/fonts/OpenSans_Condensed-Regular.ttf);
}
@font-face {
    font-family: Play;
    src: url(/fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    user-select: none;
}
.main{
    padding: 0;
    margin: 0;
}
.main__background{ 
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container__content{
    background-color: white;
    border-radius: 15px;
    width: 1000px;
    box-shadow: 0 5px 10px rgba(103, 103, 103, 0.1);
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3); /* Добавление тени */
    position: relative; /* Добавление position:relative */
    z-index: 1; /* Поднимаем .container над .main__background */
    padding: 15px 25px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.content-heading{
    display: flex;
    justify-content: center;
    padding: 10px 15px;
}
.heading__cheers{
    font-size: 36px;
    font-family: DancingS;
    font-weight: bold;
}
.content__text {
    font-size: 22px;
    line-height: 1.4; 
    font-family: Roboto;
    padding: 10px 20px;
}
.content-header{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 7px 3px rgba(59, 57, 57, 0.25); /* Добавление тени */
    position: relative;
    padding-bottom: 40px;
    padding-top: 20px;
}
.content__logo{
    width: 150px;
    height: 160px;
    position: relative;
    left: -30px;
}

.content__decoration{
    padding-bottom: 25px;
    color: rgb(107, 100, 100);
    user-select: none;
}
.info{
    text-decoration: none;
    color: rgb(107, 100, 100);
    font-size: 32px;
    user-select: none;
}
.content__info{
    display: flex;
    gap: 120px;
    list-style-type: none
}
.content__img{
    width: 100%;
    height: 900px;
}


@media (max-width: 410px){
    .content-header{
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
    }
    .content__logo{
        width: 70px;
        height: 70px;
        position: relative;
        left: 0.2vh;
    }
    .content__info{
        display: flex;
        gap: 20px;
    }
    .info{
        font-size: 14px;
    }
    .container__content{
     width: 360px;   
     padding: 10px 15px;
    }
    .content__text{
        padding-bottom: 35px;
        font-size: 18px;
    }
    .content__img{
        height: 300px;
    }
    .heading__cheers{
        font-size: 35px;
    }
}
@media (max-width: 460px){
    .content-header{
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
    }

    .content__logo{
        width: 100px;
        height: 100px;
        position: relative;
        left: -20px;
    }
    .content__info{
        display: flex;
        gap: 20px;
    }
    .info{
        font-size: 14px;
    }
    .container__content{
     width: 300px;   
     padding: 10px 15px;
    }
    .content__text{
        padding-bottom: 35px;
        font-size: 18px;
    }
    .content__img{
        height: 300px;
    }
    .heading__cheers{
        font-size: 35px;
    }
}
@media (max-width: 500px){
    .content-header{
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
    }
    .content__logo{
        width: 80px;
        height: 90px;
        position: relative;
        left: 0.2vh;
    }
    .content__info{
        display: flex;
        gap: 20px;
    }
    .info{
        font-size: 14px;
    }
    .container__content{
     width: 390px;   
     padding: 10px 15px;
     margin-top: 20px;
    }
    .content__text{
        padding-bottom: 35px;
        font-size: 18px;
    }
    .content__img{
        height: 300px;
    }
    .heading__cheers{
        font-size: 35px;
    }
}
@media (max-width: 390px){
    .content-header{
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .content__logo{
        width: 70px;
        height: 70px;
        position: relative;
        left: 0.2vh;
    }
    .content__info{
        display: flex;
        gap: 20px;
    }
    .info{
        font-size: 14px;
    }
    .container__content{
     width: 330px;   
     padding: 10px 15px;
    }
    .content__text{
        padding-bottom: 20px;
        font-size: 14px;
    }
    .content__img{
        height: 300px;
    }
    .heading__cheers{
        font-size: 26px;
        padding-bottom: 10px;
    }
}
@media (max-width: 370px){
    .content-header{
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .content__logo{
        width: 70px;
        height: 70px;
        position: relative;
        left: -3vh;
    }
    .content__info{
        display: flex;
        gap: 10px;
    }
    .info{
        font-size: 12px;
        font-family: Lato;
        font-weight: bold;
    }
    .container__content{
     width: 260px;   
     padding: 10px 15px;
     position: relative;
     left: -10px;
    }
    .content__text{
        padding: 15px 5px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
    }
    .content__img{
        height: 230px;
    }
    .heading__cheers{
        font-size: 22px;
        padding-bottom: 10px;
        font-weight: bold;
    }
}
@media (max-width: 300px){
    .content-header{
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .content__logo{
        width: 70px;
        height: 70px;
        position: relative;
        left: -3vh;
    }
    .content__info{
        display: flex;
        gap: 10px;
    }
    .info{
        font-size: 12px;
        font-family: Lato;
        font-weight: bold;
    }
    .container__content{
     width: 230px;   
     padding: 10px 15px;
     position: relative;
     left: 3px;
    }
    .content__text{
        padding: 15px 5px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
    }
    .content__img{
        height: 180px;
    }
    .heading__cheers{
        font-size: 18px;
        padding-bottom: 10px;
        font-weight: bold;
    }
}